.active_user_list_container {
  width: 100%;
  height: 50%;
}

.active_user_list_item {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  transition: 0.3s;
}

.active_user_list_item:hover {
  background-color: #5499C7;
}

.active_user_list_image_container {
  width: 40px;
  margin-left: 40px;
  margin-right: 10px;
}

.active_user_list_text {
  font-size: 14px;
}

.active_user_list_image {
  width: 100%;
}